@import 'normalize.css';

* {
  box-sizing: border-box;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --text-primary-color: #213547;
  --primary-color: #F15712;
  color: var(--text-primary-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* 添加这段样式后，Primary Button 会变成红色 */
  &:root {
    --grey-color: #00a689;
    --van-back-top-background: var(--primary-color);
    --van-primary-color: var(--primary-color);
    --active-bg: #FFE6E3;
    --border-color: #eee;
    --van-picker-confirm-action-color: #333;
  }
}
.el-btn {
  background-color: $primary-color;
  width: 100%;
  color: #fff;
  display: flex;
  border-width: 0;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s, background-color 0.1s, color 0.1s;
  &.btn-mini, &[mini] {
    width: auto;
    padding: 0 1.1em;
  }
  &:active:not(.btn-text) {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
      0 1px 14px 0 rgba(0, 0, 0, 0.12);
  }
  &:hover{
    color: rgba($color: white, $alpha: .8);
    background-color: rgba($color: $primary-color, $alpha: .8);
    outline:none
  }
  &::after {
    content: none
  }
  &.btn-text, &[text] {
    width: auto;
    padding: 0 .4em;
    margin: 0;
    background-color: transparent;
    color: #333;
  }
  &.btn-border, &[border] {
    color: $primary-color;
    background-color: transparent;
    border: solid 1px $primary-color
  }
  &.btn-primary, &[primary]{
    background-color: $primary-color;
    // background-image: linear-gradient(90deg, $primary-gradient-color 0%, $primary-color 100%);
    color: white;
  }&.btn-grey, &[grey]{
    background-color: #EEF0F2;
    color: #333;
  }
  &.btn-radius,&[radius]{
    border-radius: 44upx;
  }
  &.btn-round, &[round]{
    width: 80upx;
    height: 80upx;
    border-radius: 50%;
    margin: 0;
    &.btn-mini, &[mini] {
      width: 60upx;
      height: 60upx;
    }
  }
}
button.el-btn[disabled],
.el-btn.disabled {
  color: #999;
  border-color: #C8C8C8;
  background-color: transparent;
  opacity: .7;
  &.btn-primary{
    color: white;
    background-image: none;
    background-color: #ccc;
  }
}

.data-inset-bottom {
  height: 14px;
  box-sizing: border-box;
  height: env(safe-area-inset-bottom, 14px);
  max-height: 24px;
  padding-bottom: 24upx;
}
/* list-white */
.list-white {
  width: 100%;
  display: flex;
  align-items: center;
  // margin: 20upx 0;
  padding: 40upx 0;
  justify-content: center;
  img{
    width: 110upx;
    margin: 0 auto;
  }
  text {
    margin: 32upx 0;
  }
}
.flex- {
  &algin {
    @include flex-center;
  }
  &wrap {
    flex-wrap: wrap;
  }
  &center {
    display: flex;
    align-items: center;
  }
  &column {
    display: flex;
    flex-direction: column;
  }
  &auto {
    flex: 1;
  }
  &row {
    display: flex;
  }
  &between {
    display: flex;
    justify-content: space-between;
  }
  &end {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.color-primary,
.primary-color {
  color: $primary-color;
}
.bg-color-primary {
  background-color: $primary-color;
}

.orange-bg-color {
  background-color: $uni-color-warning;
}
.color {
  &-white {
    color: #fff;
  }
  &-black {
    color: var(--text-primary-color);
  }
  &-grey {
    color: #666;
  }
  &-grey-max {
    color: $uni-text-color-grey;
  }
  &-blue {
    color: $uni-color-primary;
  }
  &-warning {
    color: $uni-color-warning;
  }
  &-brown {
    color: #b4846f;
  }
  &-error {
    color: #ff4081;
  }
}
$fsList: 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 48, 50, 52, 56, 58, 60, 64, 66,
  70, 72, 80, 84;
@each $i in $fsList {
  // @for $i from 16 through 80 {
  .fs-#{$i} {
    @if $i > 60 {
      font-weight: bold;
    }
    font-size: #{$i}px;
  }
}
$fwList: 600, 700, 800;
@each $i in $fwList {
  .fw-#{$i} {
    font-weight: #{$i};
  }
}
#app {
  // max-width: 1280px;
  width: 375px;
  margin: 0 auto;
  // height: 100vh;
  background-color: #FFFFFD;
}
